In [2]:
import pandas as pd
import os


def concat_df(path):
    """
    function to read all the files in a folder, open them as dataframes and concatenate them in a single dataframe
    file must a tabulation as sep
    """
    lst_of_files = os.listdir(path)
    lst_of_df = []
    for file in lst_of_files:
        df = pd.read_csv(path+file, sep="\t", encoding="utf-8",index_col=False)
        lst_of_df.append(df)
    df_concat = pd.concat(lst_of_df)
    return df_concat

In [3]:
df_merge = concat_df("data/")
df_merge.head()

,PT,AU,BA,BE,GP,AF,BF,CA,TI,SO,...,PG,WC,SC,GA,UT,PM,OA,HC,HP,DA
0,J,"LAMBERT, G",NaN,NaN,NaN,"LAMBERT, G",NaN,NaN,GREENHOUSE GASES,RECHERCHE,...,7.0,Multidisciplinary Sciences,Science & Technology - Other Topics,HU961,WOS:A1992HU96100006,NaN,NaN,NaN,NaN,2021-09-16
1,J,"Free, D",NaN,NaN,NaN,"Free, D",NaN,NaN,Greenhouse gases,TCE,...,2.0,"Engineering, Chemical",Engineering,921MW,WOS:000228769700062,NaN,NaN,NaN,NaN,2021-09-16
2,J,"Free, D",NaN,NaN,NaN,"Free, D",NaN,NaN,Greenhouse gases,TCE,...,1.0,"Engineering, Chemical",Engineering,977PN,WOS:000232815800073,NaN,NaN,NaN,NaN,2021-09-16
3,J,"Hileman, B",NaN,NaN,NaN,"Hileman, B",NaN,NaN,Greenhouse gases,CHEMICAL & ENGINEERING NEWS,...,1.0,"Chemistry, Multidisciplinary; Engineering, Che...",Chemistry; Engineering,639KZ,WOS:000180628900010,NaN,NaN,NaN,NaN,2021-09-16
4,J,"Free, D",NaN,NaN,NaN,"Free, D",NaN,NaN,greenhouse gases,TCE,...,1.0,"Engineering, Chemical",Engineering,024YG,WOS:000236231900071,NaN,NaN,NaN,NaN,2021-09-16

In [6]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4979 entries, 0 to 999
Data columns (total 67 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PT      4979 non-null   object
 1   AU      4959 non-null   object
 2   BA      55 non-null     object
 3   BE      551 non-null    object
 4   GP      130 non-null    object
 5   AF      4959 non-null   object
 6   BF      55 non-null     object
 7   CA      6 non-null      object
 8   TI      4979 non-null   object
 9   SO      4979 non-null   object
 10  SE      381 non-null    object
 11  BS      7 non-null      object
 12  LA      4979 non-null   object
 13  DT      4979 non-null   object
 14  CT      734 non-null    object
 15  CY      734 non-null    object
 16  CL      734 non-null    object
 17  SP      545 non-null    object
 18  HO      90 non-null     object
 19  DE      2841 non-null   object
 20  ID      3177 non-null   object
 21  AB      3921 non-null   object
 22  C1      4236 non-null   object
 23  RP      4272 non-null   object
 24  EM      3532 non-null   object
 25  RI      2241 non-null   object
 26  OI      2586 non-null   object
 27  FU      1955 non-null   object
 28  FX      1927 non-null   object
 29  CR      0 non-null      float64
 30  NR      4978 non-null   float64
 31  TC      4978 non-null   float64
 32  Z9      4979 non-null   int64
 33  U1      4979 non-null   int64
 34  U2      4978 non-null   float64
 35  PU      4978 non-null   object
 36  PI      4978 non-null   object
 37  PA      4978 non-null   object
 38  SN      4436 non-null   object
 39  EI      2611 non-null   object
 40  BN      636 non-null    object
 41  J9      4623 non-null   object
 42  JI      4288 non-null   object
 43  PD      3751 non-null   object
 44  PY      4951 non-null   float64
 45  VL      4354 non-null   object
 46  IS      3296 non-null   object
 47  PN      69 non-null     object
 48  SU      80 non-null     object
 49  SI      209 non-null    object
 50  MA      51 non-null     object
 51  BP      4269 non-null   object
 52  EP      4269 non-null   object
 53  AR      631 non-null    object
 54  DI      3765 non-null   object
 55  D2      104 non-null    object
 56  EA      116 non-null    object
 57  PG      4978 non-null   float64
 58  WC      4975 non-null   object
 59  SC      4975 non-null   object
 60  GA      4978 non-null   object
 61  UT      4978 non-null   object
 62  PM      735 non-null    float64
 63  OA      1414 non-null   object
 64  HC      0 non-null      float64
 65  HP      0 non-null      float64
 66  DA      4978 non-null   object
dtypes: float64(9), int64(2), object(56)
memory usage: 2.6+ MB

In [85]:
# We convert the name of the columns with the field_tags
df_field_tags = pd.read_csv("field_tags.txt", sep="\t", encoding="utf-8",  header=None)
df_field_tags.head(10)

dic_field_tags = {}
for elem in df_field_tags.iterrows():
    dic_field_tags[elem[1][0]] = elem[1][1]

dic_field_tags['PT'] = 'Publication Type'
dic_field_tags['ID'] = 'Keywords'

In [86]:
# Renaming columns with field tags
df_merge = df_merge.rename(columns=dic_field_tags)
df_merge.head()

,Publication Type,Authors,Book Authors,Editors,Book Group Authors,Author Full Name,Book Authors Full Name,Group Authors,Document Title,Publication Name,...,Page Count,Web of Science Categories,Research Areas,Document Delivery Number,Accession Number,PubMed ID,Open Access Indicator,ESI Highly Cited Paper. Note that this field is valued only for ESI subscribers.,ESI Hot Paper. Note that this field is valued only for ESI subscribers.,Date this report was generated.
0,J,"LAMBERT, G",NaN,NaN,NaN,"LAMBERT, G",NaN,NaN,GREENHOUSE GASES,RECHERCHE,...,7.0,Multidisciplinary Sciences,Science & Technology - Other Topics,HU961,WOS:A1992HU96100006,NaN,NaN,NaN,NaN,2021-09-16
1,J,"Free, D",NaN,NaN,NaN,"Free, D",NaN,NaN,Greenhouse gases,TCE,...,2.0,"Engineering, Chemical",Engineering,921MW,WOS:000228769700062,NaN,NaN,NaN,NaN,2021-09-16
2,J,"Free, D",NaN,NaN,NaN,"Free, D",NaN,NaN,Greenhouse gases,TCE,...,1.0,"Engineering, Chemical",Engineering,977PN,WOS:000232815800073,NaN,NaN,NaN,NaN,2021-09-16
3,J,"Hileman, B",NaN,NaN,NaN,"Hileman, B",NaN,NaN,Greenhouse gases,CHEMICAL & ENGINEERING NEWS,...,1.0,"Chemistry, Multidisciplinary; Engineering, Che...",Chemistry; Engineering,639KZ,WOS:000180628900010,NaN,NaN,NaN,NaN,2021-09-16
4,J,"Free, D",NaN,NaN,NaN,"Free, D",NaN,NaN,greenhouse gases,TCE,...,1.0,"Engineering, Chemical",Engineering,024YG,WOS:000236231900071,NaN,NaN,NaN,NaN,2021-09-16

In [87]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4979 entries, 0 to 999
Data columns (total 67 columns):
 #   Column                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                 --------------  -----
 0   Publication Type                                                                                                                                                                                                       4979 non-null   object
 1   Authors                                                                                                                                                                                                                4959 non-null   object
 2   Book Authors                                                                                                                                                                                                           55 non-null     object
 3   Editors                                                                                                                                                                                                                551 non-null    object
 4   Book Group Authors                                                                                                                                                                                                     130 non-null    object
 5   Author Full Name                                                                                                                                                                                                       4959 non-null   object
 6   Book Authors Full Name                                                                                                                                                                                                 55 non-null     object
 7   Group Authors                                                                                                                                                                                                          6 non-null      object
 8   Document Title                                                                                                                                                                                                         4979 non-null   object
 9   Publication Name                                                                                                                                                                                                       4979 non-null   object
 10  Book Series Title                                                                                                                                                                                                      381 non-null    object
 11  Book Series Subtitle                                                                                                                                                                                                   7 non-null      object
 12  Language                                                                                                                                                                                                               4979 non-null   object
 13  Document Type                                                                                                                                                                                                          4979 non-null   object
 14  Conference Title                                                                                                                                                                                                       734 non-null    object
 15  Conference Date                                                                                                                                                                                                        734 non-null    object
 16  Conference Location                                                                                                                                                                                                    734 non-null    object
 17  Conference Sponsors                                                                                                                                                                                                    545 non-null    object
 18  Conference Host                                                                                                                                                                                                        90 non-null     object
 19  Author Keywords                                                                                                                                                                                                        2841 non-null   object
 20  Keywords                                                                                                                                                                                                               3177 non-null   object
 21  Abstract                                                                                                                                                                                                               3921 non-null   object
 22  Author Address                                                                                                                                                                                                         4236 non-null   object
 23  Reprint Address                                                                                                                                                                                                        4272 non-null   object
 24  E+AC0-mail Address                                                                                                                                                                                                     3532 non-null   object
 25  ResearcherID Number                                                                                                                                                                                                    2241 non-null   object
 26  ORCID Identifier (Open Researcher and Contributor ID)                                                                                                                                                                  2586 non-null   object
 27  Funding Agency and Grant Number                                                                                                                                                                                        1955 non-null   object
 28  Funding Text                                                                                                                                                                                                           1927 non-null   object
 29  Cited References                                                                                                                                                                                                       0 non-null      float64
 30  Cited Reference Count                                                                                                                                                                                                  4978 non-null   float64
 31  Web of Science Core Collection Times Cited Count                                                                                                                                                                       4978 non-null   float64
 32  Total Times Cited Count (Web of Science Core Collection, Arabic Citation Index, BIOSIS Citation Index, Chinese Science Citation Database, Data Citation Index, Russian Science Citation Index, SciELO Citation Index)  4979 non-null   int64
 33  Usage Count (Last 180 Days)                                                                                                                                                                                            4979 non-null   int64
 34  Usage Count (Since 2013)                                                                                                                                                                                               4978 non-null   float64
 35  Publisher                                                                                                                                                                                                              4978 non-null   object
 36  Publisher City                                                                                                                                                                                                         4978 non-null   object
 37  Publisher Address                                                                                                                                                                                                      4978 non-null   object
 38  International Standard Serial Number (ISSN)                                                                                                                                                                            4436 non-null   object
 39  Electronic International Standard Serial Number (eISSN)                                                                                                                                                                2611 non-null   object
 40  International Standard Book Number (ISBN)                                                                                                                                                                              636 non-null    object
 41  29+AC0-Character Source Abbreviation                                                                                                                                                                                   4623 non-null   object
 42  ISO Source Abbreviation                                                                                                                                                                                                4288 non-null   object
 43  Publication Date                                                                                                                                                                                                       3751 non-null   object
 44  Year Published                                                                                                                                                                                                         4951 non-null   float64
 45  Volume                                                                                                                                                                                                                 4354 non-null   object
 46  Issue                                                                                                                                                                                                                  3296 non-null   object
 47  Part Number                                                                                                                                                                                                            69 non-null     object
 48  Supplement                                                                                                                                                                                                             80 non-null     object
 49  Special Issue                                                                                                                                                                                                          209 non-null    object
 50  Meeting Abstract                                                                                                                                                                                                       51 non-null     object
 51  Beginning Page                                                                                                                                                                                                         4269 non-null   object
 52  Ending Page                                                                                                                                                                                                            4269 non-null   object
 53  Article Number                                                                                                                                                                                                         631 non-null    object
 54  Digital Object Identifier (DOI)                                                                                                                                                                                        3765 non-null   object
 55  Book Digital Object Identifier (DOI)                                                                                                                                                                                   104 non-null    object
 56  Early access date                                                                                                                                                                                                      116 non-null    object
 57  Page Count                                                                                                                                                                                                             4978 non-null   float64
 58  Web of Science Categories                                                                                                                                                                                              4975 non-null   object
 59  Research Areas                                                                                                                                                                                                         4975 non-null   object
 60  Document Delivery Number                                                                                                                                                                                               4978 non-null   object
 61  Accession Number                                                                                                                                                                                                       4978 non-null   object
 62  PubMed ID                                                                                                                                                                                                              735 non-null    float64
 63  Open Access Indicator                                                                                                                                                                                                  1414 non-null   object
 64  ESI Highly Cited Paper. Note that this field is valued only for ESI subscribers.                                                                                                                                       0 non-null      float64
 65  ESI Hot Paper. Note that this field is valued only for ESI subscribers.                                                                                                                                                0 non-null      float64
 66  Date this report was generated.                                                                                                                                                                                        4978 non-null   object
dtypes: float64(9), int64(2), object(56)
memory usage: 2.6+ MB

In [88]:
# Ce qu'on veut garder
# Publication Type, Authors, Document Title, Language, Document Type, Author Keywords, 
# Keywords Plus+AK4-, Abstract, Author Address,
# Year Published, Web of Science Categories

In [123]:
df_merge = df_merge[["Publication Type", "Authors", "Document Title", "Language", "Document Type", "Author Keywords", "Keywords", "Abstract", "Author Address","Year Published", "Web of Science Categories"]]

In [91]:
df_merge.head()

,Publication Type,Authors,Document Title,Language,Document Type,Author Keywords,Keywords,Abstract,Author Address,Year Published,Web of Science Categories
0,J,"LAMBERT, G",GREENHOUSE GASES,French,Article,NaN,RECORD,NaN,NaN,1992.0,Multidisciplinary Sciences
1,J,"Free, D",Greenhouse gases,English,Letter,NaN,NaN,NaN,NaN,2005.0,"Engineering, Chemical"
2,J,"Free, D",Greenhouse gases,English,Letter,NaN,NaN,NaN,NaN,2005.0,"Engineering, Chemical"
3,J,"Hileman, B",Greenhouse gases,English,News Item,NaN,NaN,NaN,NaN,2003.0,"Chemistry, Multidisciplinary; Engineering, Che..."
4,J,"Free, D",greenhouse gases,English,Letter,NaN,NaN,NaN,NaN,2006.0,"Engineering, Chemical"

In [94]:
# We want to keep only rows with Keywords, Abstract, and Author Keywords = NON NA
df_merge = df_merge[df_merge['Abstract'].notna()]
df_merge = df_merge[df_merge['Keywords'].notna()]
df_merge = df_merge[df_merge['Author Keywords'].notna()]
df_merge.head()

,Publication Type,Authors,Document Title,Language,Document Type,Author Keywords,Keywords,Abstract,Author Address,Year Published,Web of Science Categories
15,C,"Khalil, MAK",Atmospheric greenhouse gases,English,Proceedings Paper,greenhouse gases; methane; nitrous oxide; atmo...,TRENDS; FUTURE,In the Kyoto Protocol four gases: carbon dioxi...,"Portland State Univ, Dept Phys, Portland, OR 9...",2001.0,Environmental Sciences
45,C,"van Amstel, AR; Janssen, LHJM; Olivier, JGJ",Greenhouse gas emission accounting,English,Proceedings Paper,carbon dioxide; methane; nitrous oxide; emissi...,GLOBAL N2O BUDGET,National emission inventories are surrounded w...,"Wageningen Agr Univ, NL-6700 HB Wageningen, Ne...",2000.0,Environmental Sciences
78,J,"Hansen, J; Sato, M",Greenhouse gas growth rates,English,Article,climate change; carbon dioxide; methane; fossi...,DEUTERIUM-EXCESS CORRECTION; VOSTOK ICE CORE; ...,We posit that feasible reversal of the growth ...,"NASA, Goddard Inst Space Studies, New York, NY...",2004.0,Multidisciplinary Sciences
92,J,"Boesch, H; Liu, Y; Tamminen, J; Yang, DX; Palm...",Monitoring Greenhouse Gases from Space,English,Article,greenhouse gases; satellite remote sensing; va...,ORBITING CARBON OBSERVATORY-2; FOURIER-TRANSFO...,The increase in atmospheric greenhouse gas con...,"[Boesch, Hartmut; Di Noia, Antonio; Kalaitzi, ...",2021.0,"Environmental Sciences; Geosciences, Multidisc..."
96,J,"Moomaw, WR",Industrial emissions of greenhouse gases,English,Article,industrial greenhouse gases; mitigation option...,CARBON-DIOXIDE EMISSIONS; STRUCTURAL-CHANGE; N...,The global industrial sector accounts for appr...,NaN,1996.0,Economics; Energy & Fuels; Environmental Scien...

In [95]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2220 entries, 15 to 999
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Publication Type           2220 non-null   object
 1   Authors                    2220 non-null   object
 2   Document Title             2220 non-null   object
 3   Language                   2220 non-null   object
 4   Document Type              2220 non-null   object
 5   Author Keywords            2220 non-null   object
 6   Keywords                   2220 non-null   object
 7   Abstract                   2220 non-null   object
 8   Author Address             2203 non-null   object
 9   Year Published             2198 non-null   float64
 10  Web of Science Categories  2219 non-null   object
dtypes: float64(1), object(10)
memory usage: 208.1+ KB

In [103]:
count = 0
lst_of_index = []
for index, row in df_merge.iterrows():
    if "AI" in (row["Abstract"]):
        lst_of_index.append(index)
        count += 1
print(count)

14

In [104]:
# On ne garde que les rows qui ont AI dans les abstracts
df_merge_AI = df_merge[df_merge.index.isin(lst_of_index)]
df_merge_AI.head()

,Publication Type,Authors,Document Title,Language,Document Type,Author Keywords,Keywords,Abstract,Author Address,Year Published,Web of Science Categories
437,J,"Kaleeswari, RK; Bell, R",Greenhouse gas Emissions in Saline and Waterlo...,English,Article,Green House Gas; Organic amendment; Saline soi...,SOIL MICROBIAL COMMUNITIES; CARBON; PEAT; SUBS...,An experiment was conducted to study the impac...,"[Kaleeswari, R. K.; Bell, R.] Murdoch Univ, De...",2019.0,Soil Science
807,J,"Lesschen, JP; van den Berg, M; Westhoek, HJ; W...",Greenhouse gas emission profiles of European l...,English,Article,EU-27; Feed conversion; GHG emission; Livestoc...,MILK-PRODUCTION; DAIRY FARMS; MANAGEMENT; NITR...,There are increasing concerns about the ecolog...,"[Lesschen, J. P.; Oenema, O.] Univ Wageningen ...",2011.0,"Agriculture, Dairy & Animal Science"
368,J,"McAlexander, BL",A suggestion to assess spilled hydrocarbons as...,English,Article,Greenhouse gases; Petroleum contaminated sites...,DEEP-WATER-HORIZON,Petroleum-contaminated site management typical...,"Trihydro Corp, Orono, ME 04473 USA",2014.0,Environmental Studies
384,J,"Shrestha, RM; Pradhan, S; Liyanage, MH",Effects of carbon tax on greenhouse gas mitiga...,English,Article; Proceedings Paper,carbon pricing; CO2 reductions; energy systems...,POWER-GENERATION; CO2 MITIGATION; ENERGY; BIOM...,This study analyses energy system development ...,"[Shrestha, Ram M.; Pradhan, Shreekar; Liyanage...",2008.0,Environmental Studies; Public Administration
423,J,"Cerri, CC; Maia, SMF; Galdos, MV; Cerri, CEP; ...",BRAZILIAN GREENHOUSE GAS EMISSIONS: THE IMPORT...,English,Review,CO2-equivalent (CO2-eq); soil; inventory; land...,CARBON SEQUESTRATION; ORGANIC-MATTER; CO2 EMIS...,Data from the 1990-1994 period presented in th...,"[Pellegrino Cerri, Carlos Eduardo] USP, ESALQ,...",2009.0,"Agriculture, Multidisciplinary"

In [121]:
abst =  (df_merge_AI.iloc[0]['Abstract'])
a_keyw = df_merge_AI.iloc[0]['Author Keywords']
keyw = df_merge_AI.iloc[0]['Keywords']

In [122]:
print(keyw)

SOIL MICROBIAL COMMUNITIES; CARBON; PEAT; SUBSTRATE; DECOMPOSITION; CHEMISTRY; METHANE; BIOMASS; MAIZE; WATER